In [4]:
import pandas as pd

In [5]:
transactions = pd.read_parquet('transaction_fraud_data.parquet')
currency_rates = pd.read_parquet('historical_currency_exchange.parquet')

In [3]:
transactions.head(10)

,transaction_id,customer_id,card_number,timestamp,vendor_category,vendor_type,vendor,amount,currency,country,...,is_card_present,device,channel,device_fingerprint,ip_address,is_outside_home_country,is_high_risk_vendor,is_weekend,last_hour_activity,is_fraud
0,TX_a0ad2a2a,CUST_72886,6646734767813109,2024-09-30 00:00:01.034820,Restaurant,fast_food,Taco Bell,294.87,GBP,UK,...,False,iOS App,mobile,e8e6160445c935fd0001501e4cbac8bc,197.153.60.199,False,False,False,"{'num_transactions': 1197, 'total_amount': 334...",False
1,TX_3599c101,CUST_70474,376800864692727,2024-09-30 00:00:01.764464,Entertainment,gaming,Steam,3368.97,BRL,Brazil,...,False,Edge,web,a73043a57091e775af37f252b3a32af9,208.123.221.203,True,True,False,"{'num_transactions': 509, 'total_amount': 2011...",True
2,TX_a9461c6d,CUST_10715,5251909460951913,2024-09-30 00:00:02.273762,Grocery,physical,Whole Foods,102582.38,JPY,Japan,...,False,Firefox,web,218864e94ceaa41577d216b149722261,10.194.159.204,False,False,False,"{'num_transactions': 332, 'total_amount': 3916...",False
3,TX_7be21fc4,CUST_16193,376079286931183,2024-09-30 00:00:02.297466,Gas,major,Exxon,630.60,AUD,Australia,...,False,iOS App,mobile,70423fa3a1e74d01203cf93b51b9631d,17.230.177.225,False,False,False,"{'num_transactions': 764, 'total_amount': 2201...",False
4,TX_150f490b,CUST_87572,6172948052178810,2024-09-30 00:00:02.544063,Healthcare,medical,Medical Center,724949.27,NGN,Nigeria,...,False,Chrome,web,9880776c7b6038f2af86bd4e18a1b1a4,136.241.219.151,True,False,False,"{'num_transactions': 218, 'total_amount': 4827...",True
5,TX_7fb62ea6,CUST_55630,6771346275824473,2024-09-30 00:00:03.050458,Education,online,Coursera,11.76,BRL,Brazil,...,False,Chrome,web,f79b73f19703d83fbfc2736f24cb108c,184.56.130.84,True,False,False,"{'num_transactions': 1130, 'total_amount': 695...",True
6,TX_e0d7eb37,CUST_89147,371305533183152,2024-09-30 00:00:03.149440,Grocery,online,Instacart,2606.19,BRL,Brazil,...,False,Android App,mobile,20464622be96fda2c75ee7d3698c004d,163.189.239.227,False,False,False,"{'num_transactions': 1392, 'total_amount': 607...",False
7,TX_eb55c2be,CUST_10150,5927166525373625,2024-09-30 00:00:06.295911,Travel,hotels,Westin,828.33,EUR,Germany,...,False,Edge,web,170a1d12ba71772366076fd302fe29ca,122.115.119.11,False,True,False,"{'num_transactions': 352, 'total_amount': 8690...",False
8,TX_eb63010a,CUST_83143,5029335992770061,2024-09-30 00:00:06.813965,Healthcare,medical,Medical Center,104921.00,NGN,Nigeria,...,False,Edge,web,44a2dde7b410ab3f71344022d1940d4b,103.121.115.91,False,False,False,"{'num_transactions': 618, 'total_amount': 7840...",False
9,TX_b0cd71e2,CUST_35022,4412911822339760,2024-09-30 00:00:07.105592,Retail,online,eBay,51521.84,MXN,Mexico,...,True,NFC Payment,pos,fbff6151bf7ab2d768a4646aad2cc5b2,3.35.80.156,True,False,False,"{'num_transactions': 723, 'total_amount': 1446...",True

In [4]:
currency_rates.head(10)

,date,AUD,BRL,CAD,EUR,GBP,JPY,MXN,NGN,RUB,SGD,USD
0,2024-09-30,1.443654,5.434649,1.351196,0.895591,0.747153,142.573268,19.694724,1668.736400,94.133735,1.280156,1
1,2024-10-01,1.442917,5.444170,1.352168,0.897557,0.746956,143.831429,19.667561,1670.694524,92.898519,1.284352,1
2,2024-10-02,1.449505,5.425444,1.348063,0.903056,0.752241,143.806861,19.606748,1669.653006,94.583198,1.286983,1
3,2024-10-03,1.456279,5.442044,1.351451,0.906018,0.754584,146.916773,19.457701,1670.097873,95.655442,1.294391,1
4,2024-10-04,1.460930,5.477788,1.355260,0.906452,0.761891,146.592323,19.363467,1649.763738,94.755337,1.296800,1
5,2024-10-05,1.471447,5.457431,1.358726,0.910593,0.761939,148.796290,19.286645,1619.465727,94.934698,1.303670,1
6,2024-10-06,1.469948,5.463070,1.357479,0.910655,0.762157,148.725322,19.284784,1626.760323,94.993467,1.304541,1
7,2024-10-07,1.469358,5.455679,1.357600,0.911148,0.761611,148.509087,19.263497,1658.088878,95.582401,1.303118,1
8,2024-10-08,1.479802,5.495973,1.361858,0.910451,0.763520,147.888136,19.297377,1626.621519,96.167634,1.302788,1
9,2024-10-09,1.484282,5.535464,1.365741,0.911611,0.763666,148.274271,19.357738,1620.528912,96.750546,1.304275,1

In [5]:
transactions['is_fraud']

0          False
1           True
2          False
3          False
4           True
           ...
7483761    False
7483762    False
7483763    False
7483764    False
7483765    False
Name: is_fraud, Length: 7483766, dtype: bool

In [17]:
# Вопрос 1: Какая доля всех транзакций — мошеннические?
fraud_percentage = transactions['is_fraud'].mean().round(1)
print(f"1. Доля мошеннических транзакций: {fraud_percentage}")

1. Доля мошеннических транзакций: 0.2

In [7]:
# Вопрос 2: Топ-5 стран по мошенническим транзакциям
top_fraud_countries = transactions[transactions['is_fraud']]['country'].value_counts().head(5).index.tolist()
print(f"2. Топ-5 стран: {','.join(top_fraud_countries)}")

2. Топ-5 стран: Russia,Mexico,Brazil,Nigeria,Australia

In [10]:
# Вопрос 3: Сколько транзакций в среднем совершает один клиент за час?
transactions['hour'] = transactions['timestamp'].dt.floor('H')

client_hour_trans = transactions.groupby(['customer_id', 'hour']).size().reset_index(name='transaction_count')

avg = client_hour_trans['transaction_count'].mean()
print(f"3. Кол-во транзакций в час на одного клиента: {avg:.2f}")

C:\Users\Вера\AppData\Local\Temp\ipykernel_23816\3169343846.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  transactions['hour'] = transactions['timestamp'].dt.floor('H')

3. Кол-во транзакций в час на одного клиента: 2.45

In [ ]:
# Вопрос 4: Доля мошенничества у high-risk продавцов
high_risk_fraud = transactions[transactions['is_high_risk_vendor']]['is_fraud'].mean().round(1)
print(f"4. Доля мошенничества у high-risk продавцов: {high_risk_fraud}")

4. Доля мошенничества у high-risk продавцов: 0.2

In [ ]:
# Вопрос 5: В каком городе наибольшая средняя сумма транзакций?
import numpy as np

# словарь средних курсов валют
avg_rates = currency_rates.select_dtypes(include=[np.number]).mean().to_dict()
avg_rates['USD'] = 1.0

def convert_to_usd(amount, currency):
    if currency == 'USD':
        return amount
    elif currency in avg_rates:
        return amount / avg_rates[currency]
    else:
        return amount

transactions['amount_usd'] = transactions.apply(
    lambda row: convert_to_usd(row['amount'], row['currency']), axis=1
)

city_avg = transactions.groupby('city')['amount_usd'].agg(['mean', 'count']).reset_index()
city_avg.columns = ['city', 'avg_amount_usd', 'transaction_count']

city_avg = city_avg.sort_values('avg_amount_usd', ascending=False)

top_city = city_avg.iloc[0]['city']
top_avg = city_avg.iloc[0]['avg_amount_usd']

print(f"5. Город с наибольшей транзакцией: {top_city}")
print(f"Средняя сумма: ${top_avg:.2f} USD")

5. Город с наибольшей транзакцией: New York
Средняя сумма: $568.87 USD

In [12]:
# Вопрос 6: В каком городе выше всего средний чек по операциям, связанным с fast_food?
fast_food_df = transactions[transactions['vendor_type'] == 'fast_food'].copy()

fast_food_df['amount_usd'] = fast_food_df.apply(
    lambda row: convert_to_usd(row['amount'], row['currency']), axis=1
)

city_avg_check = fast_food_df.groupby('city')['amount_usd'].agg(['mean', 'count']).reset_index()
city_avg_check.columns = ['city', 'avg_check_usd', 'transaction_count']

city_avg_check = city_avg_check.sort_values('avg_check_usd', ascending=False)

top_city = city_avg_check.iloc[0]['city']
top_avg = city_avg_check.iloc[0]['avg_check_usd']

print(f"Город с наибольшим чеком fast-food: {top_city}")
print(f"Средний чек: ${top_avg:.2f} USD")

Город с наибольшим чеком fast-food: Chicago
Средний чек: $264.45 USD

In [6]:
# Вопрос 7: Среднее немошеннических операций в USD
import math

non_fraud = transactions[transactions['is_fraud'] == False]
avg_rates = currency_rates.mean(numeric_only=True)

currency_groups = non_fraud.groupby('currency')['amount'].sum()

total_usd = 0
total_count = 0

for currency, total_amount in currency_groups.items():
    count = (non_fraud['currency'] == currency).sum()
    
    if currency == 'USD':
        usd_amount = total_amount
    elif currency in avg_rates.index:
        usd_amount = total_amount / avg_rates[currency]
    else:
        usd_amount = total_amount
    
    total_usd += usd_amount
    total_count += count
    print(f"{currency}: {total_amount:.2f} -> {usd_amount:.2f} USD ({count} операций)")

avg_usd = total_usd / total_count
result = math.ceil(avg_usd)

print(f"7. Среднее немошеннических операций в USD: {result}")

AUD: 335508146.77 -> 225710892.69 USD (459043 операций)
BRL: 1362219395.71 -> 243270573.41 USD (506171 операций)
CAD: 317919867.29 -> 231503779.89 USD (495354 операций)
EUR: 453728313.66 -> 495237521.32 USD (991120 операций)
GBP: 196043393.88 -> 256330979.61 USD (501148 операций)
JPY: 29725316368.33 -> 199079603.69 USD (489801 операций)
MXN: 5159107423.95 -> 262544357.02 USD (486863 операций)
NGN: 123263574516.24 -> 75159933.88 USD (551240 операций)
RUB: 19652604885.87 -> 204707216.25 USD (494305 операций)
SGD: 417216072.00 -> 318962499.36 USD (551254 операций)
USD: 240744799.07 -> 240744799.07 USD (462748 операций)
7. Среднее немошеннических операций в USD: 460

In [13]:
# Вопрос 7: STD немошеннических операций в USD
non_fraud = transactions[transactions['is_fraud'] == False].copy()

non_fraud['amount_usd'] = non_fraud['amount'] / non_fraud['currency'].map(avg_rates).fillna(1.0)

std_usd = non_fraud['amount_usd'].std()
result = math.ceil(std_usd)

print(f"7. STD немошеннических операций в USD: {result}")

7. STD немошеннических операций в USD: 417

In [12]:
# Вопрос 8: Среднее мошеннических операций в USD
import numpy as np

fraud_df = transactions[transactions['is_fraud'] == True]

avg_rates = currency_rates.select_dtypes(include=[np.number]).mean().to_dict()
avg_rates['USD'] = 1.0

fraud_df = fraud_df.copy()
fraud_df['amount_usd'] = fraud_df.apply(
    lambda row: row['amount'] if row['currency'] == 'USD' 
    else row['amount'] / avg_rates.get(row['currency'], 1.0), axis=1
)

mean_fraud_usd = fraud_df['amount_usd'].mean()

print(f"8. Среднее мошеннических операций в USD {mean_fraud_usd:.2f}")

8. Среднее мошеннических операций в USD 874.46

In [14]:
# Вопрос 9: STD мошеннических операций в USD
fraud_df['amount_usd'] = fraud_df['amount'] / fraud_df['currency'].map(avg_rates).fillna(1.0)

std_usd = fraud_df['amount_usd'].std()
result = math.ceil(std_usd)

print(f"9. STD мошеннических операций в USD: {result}")

9. STD мошеннических операций в USD: 1350

In [15]:
# Вопрос 10: Клиенты с опасным поведением
transactions['unique_merchants'] = transactions['last_hour_activity'].apply(lambda x: x['unique_merchants'])
median_merchants = transactions.groupby('customer_id')['unique_merchants'].median()
threshold = median_merchants.quantile(0.95)
dangerous_clients = (median_merchants > threshold).sum()
print(f"10. Клиентов с опасным поведением: {dangerous_clients}")

10. Клиентов с опасным поведением: 229